@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is my first ever abomination ;]]</a>.</p>
    <p>Thank you for visiting it, please give me a like </a>.</p>
    <div class="button-container">
        <button class="like-button">
            <span class="thumb-icon">👎</span> Like
        </button>
        <p class="like-counter">Likes: <span id="counter">0</span></p>
    </div>

   
</div>
<!DOCTYPE html>
<html>
<head>
    <script src="/js/site.js"></script>
    <title>My First Web Page</title>
</head>
<body>
    <h3>Welcome to My First Web Page</h3>
    <h5> <p>You probably wonder</p> <p>How you ended up here ?</p>
        <p>Well... Let me introduce you to myself</p>
    </h5>
    <p>Yep, that badass here is <strong>Me</strong>  ;]:</p>
    <img src="/images/images.jpg" {
         border: 2px solid #080acc;
         border-radius: 10px;
         box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
         }>
</body>
</html>
